<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Welcome to login page</h1>
    <form action="/login" method="POST">
    <input type="text" placeholder="Enter your email address" name="email">
    <input type="text" placeholder="Enter password" name="password">
    <button type="submit">
      Login
    </button>
 Not a user then signup first
 <button>
    <a href="/signup">Signup</a>
 </button>   
    
    </form>

      <button class="signupbtn">
                
                <a href="/login/google">Google-login</a>
            </button>
      <button class="signupbtn">
                
                <a href="/login/github">Github-login</a>
            </button>
</body>
</html>